.container{
  background-color: #E4E6D9;
  padding: 40px;
  max-width: auto;
  margin: auto;
  border-radius: 8px;
}
 
 .logo {
    display: block;
  margin: 0 auto; /* Centers the image */
  width: 700px; /* Adjust as needed */
  height: auto;
   
  }
  .mainText{
    font-family: "Roboto";
    color: #494442;
    font-size: 25px;
    }
    .subText{
    font-family: "Roboto";
    color: black;
    font-size: 20px;
    }
