.container {
    background-color: #E4E6D9;
    padding: 40px;
    width: 390px;
    height: 844px;
    margin: auto;
    border-radius: 8px;
  }
  .title {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #45795d;
    margin-bottom: 20px;
  }
  .subtitle {
    font-size: 26px;
    font-weight: bold;
    color: #494442;
    margin-bottom: 20px;
    margin-left: -20px;
    margin-right: -20px;
  }
  .logo {
    display: block;
  margin: 0 auto; /* Centers the image */
  width: 225px; /* Adjust as needed */
  height: auto;
  margin-bottom: 50px;
  }
  .input {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    background-color: #fff;
    color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 100px;
  }
  .input::placeholder {
    color: #999;
  }
  
  .button {
    background-color: #494442;
    color: white;
    font-size: 16px;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;}