.signup{
    color: #494442;
    font-family: "Inter";
}
.email{
    color: #494442;
    padding: 10px;
    font-family: "Inter";
}
.pass{
    color: #494442;
    padding: 10px;
    font-family: "Inter";
}
.conpass{
    color: #494442;
    padding: 10px;
    font-family: "Inter";
}
.signupbtn{
    background-color: #494442;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-family: "Inter";
}
